@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


body{
	
	font-family:  'Nunito Sans', Helvetica, Arial, sans-serif;
	
}

body *{
	box-sizing: border-box;
	
}


.container {
	background: black;
	width: 100%;
	height: 800px;
	
}
.projects-wrapper{
	width: 1171px;
	height: 552.28px;
	background: black;
	margin: 107px auto 124px auto;
}
.link-wrapper{
	display: flex;
	justify-content: flex-end;
}
.link_item1, .link_item2, .link_item3{
	margin: 0 60px 0 0;
	font-family: Yeseva One;
	font-style: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	
}
.project-examples-wrapper{
	margin: 45px 0 0 0;
	display: flex;
}
.project-text-wrapper{
	display: flex;
	flex-direction: column;
}
.projects-title{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	width: 200px
}
.text-projects{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 27px;
	color: #FFFFFF;
	width: 442px;
	height: 86px;
	margin: 35 px 0 0 0;
}
.project-info-wrapper{
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	height: 180px;
	margin: 40px 0 0 0;
}
.project-info-items-wrapper{
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 60px;
}
.project-info-items-title{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}
.project_info_items_text_city,
.project_info_items_text_area,
.project_info_items_text_time,
.project_info_items_text_cost{
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color:#FFFFFF;
}
.project-arrow-wrapper{
	margin: 20px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 200px;
}
button{
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.dot_dot1, .dot_dot2, .dot_dot3{
	background: url("../img/dot_inactive.svg") no-repeat;
	width: 12px;
	height: 12px;
}
.slider_images{
	background: no-repeat;
	width: 679px;
	height: 482px;
}
